
<div class="container">
  <h2>Liste des Goals</h2>

  <div class="goal-animation" *ngIf="showAnimation">
  <dotlottie-player
    src="https://lottie.host/48d591e5-2814-4842-a3d2-ac91c5d874cc/k8PktloeAw.lottie"
    background="transparent"
    speed="2"
    style="width: 575px; height: 575px"
    loop
    autoplay
  ></dotlottie-player>
  </div>

  <button class="btn btn-primary" [routerLink]="['/goals/add']">
    ➕ Ajouter un Goal
  </button>
  <table class="table">
    <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let goal of goals">
      <td>{{ goal.title }}</td>
      <td>{{ goal.description }}</td>
      <td>
        <div class="btn-container">
          <button class="btn btn-warning btn-sm" [routerLink]="['/goals/edit', goal.goal_id]">
            ✏️ Modifier
          </button>
          <button class="btn btn-danger" (click)="deleteGoal(goal.goal_id)">
            🗑️ Supprimer
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
