<!-- Main Layout Wrapper -->
<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="border-end bg-dark text-white sidebar" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 fs-4 fw-bold border-bottom">
      <i class="fas fa-cogs me-2"></i> TimeForge
    </div>
    <div class="list-group list-group-flush my-3">
      <div class="dropdown">

        <a routerLink="/menu" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">
          <i class="fas fa-cogs me-2"></i> Menu
        </a>
      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper" class="w-100">

    <!-- Top Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom">
      <div class="container-fluid">
        <button class="btn btn-light" (click)="toggleSidebar()"><i class="fas fa-bars"></i></button>
        <a class="navbar-brand ms-3" href="#">Welcome, {{ user?.name }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" (click)="toggleSidebar()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- ... existing navbar code ... -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a *ngIf="user" class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <!-- User photo or placeholder -->
                <span class="d-flex align-items-center">
          <img *ngIf="getPhotoUrl(); else placeholder"
               [src]="getPhotoUrl()"
               alt="Profile Photo"
               class="rounded-circle me-2"
               style="width: 30px; height: 30px; object-fit: cover;">
          <ng-template #placeholder>
            <i class="fas fa-user-circle me-2"></i>
          </ng-template>
                  {{ user.name }}
        </span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" [routerLink]="['/users', user.id]"><i class="fas fa-user me-2"></i> Profile</a></li>
                <li><a class="dropdown-item" href="#"><i class="fas fa-bell me-2"></i> Notifications</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt me-2"></i> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- ... rest of your layout ... -->
      </div>
    </nav>

    <!-- Router Outlet -->
    <div class="container-fluid py-4">
      <!-- Example Cards -->

      <!-- You can add more cards here -->


      <router-outlet></router-outlet>
    </div>

  </div>
</div>
