<h2>List of Projects</h2>

<div class="project-animation" *ngIf="showAnimation">
<dotlottie-player
  src="https://lottie.host/72a0e417-72e7-42d9-a8d4-27b6bc9a4d36/C1JRRxxzGU.lottie"
  background="transparent"
  speed="2"
  style="width: 550px; height: 550px"
  loop
  autoplay
></dotlottie-player>

</div>
  <div class="export-buttons">
    <button class="btn btn-success" (click)="exportToExcel()">📂 Export to Excel</button>
    <input
      type="text"
      class="search-input"
      [(ngModel)]="searchText"
      placeholder="Search Project..."
    />
    <button class="btn btn-danger" (click)="exportToPDF()">📝 Export to PDF</button>
  </div>

  <div class="d-flex justify-content-center mb-4">

    <button class="btn btn-primary" [routerLink]="['/projects/add']">
      ➕ Add Project
    </button>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Category</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td>{{ project.title }}</td>
          <td>{{ project.description }}</td>
          <td>{{ project.startDate | date:'yyyy-MM-dd' }}</td>
          <td>{{ project.endDate | date:'yyyy-MM-dd' }}</td>
          <td>{{ project.category }}</td>
          <td data-label="Actions">
            <div class="btn-container">
              <button class="btn btn-warning btn-sm" [routerLink]="['/projects/edit', project.projet_id]">
                🖊️ Edit
              </button>
              <button class="btn btn-danger" (click)="deleteProject(project.projet_id)">
                🗑️ Remove
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
