<div class="container">
  <div class="card">
    <h2 class="text-center mb-4">{{ isEdit ? 'Update' : 'Create' }} a Project</h2>

    <div class="mb-3">
      <label for="title" class="form-label fw-bold">Project Title</label>
      <input
        type="text"
        id="title"
        class="form-control"
        [(ngModel)]="project.title"
        name="title"
        required
        minlength="3"
        #titleCtrl="ngModel"
        [class.is-invalid]="titleCtrl.invalid && titleCtrl.touched"
        placeholder="Enter project title"
      />
      <div class="invalid-feedback" *ngIf="titleCtrl.invalid && titleCtrl.touched">
        <p *ngIf="titleCtrl.errors?.['required']">Project name is required.</p>
        <p *ngIf="titleCtrl.errors?.['minlength']">Minimum 3 characters required.</p>
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label fw-bold">Description</label>
      <textarea
        id="description"
        class="form-control"
        [(ngModel)]="project.description"
        name="description"
        placeholder="Enter project description"
        [required]="isEdit ? false : true"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="status" class="form-label fw-bold">Status</label>
      <select
        id="status"
        class="form-control"
        [(ngModel)]="project.status"
        name="status"
        required
      >
        <option value="to-do">To-Do</option>
        <option value="in-progress">In Progress</option>
        <option value="done">Done</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="startDate" class="form-label fw-bold">Start Date</label>
      <input
        type="date"
        id="startDate"
        class="form-control"
        [(ngModel)]="project.startDate"
        name="startDate"
        required
      />

    </div>

    <div class="mb-3">
      <label for="endDate" class="form-label fw-bold">End Date</label>
      <input
        type="date"
        id="endDate"
        class="form-control"
        [(ngModel)]="project.endDate"
        name="endDate"
        [min]="project.startDate"
        required
      />
   
    </div>

    <!-- Boutons -->
    <div class="btn-container">
      <button type="button" class="btn btn-success" (click)="saveProject()">💾 Save</button>
    </div>
    <button type="button" class="btn btn-secondary" (click)="router.navigate(['/projects'])">
      ❌ Cancel
    </button>
  </div>
</div>
